* {
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.main button {
  background-color: #CCCCCC;
  border-radius: 0.8em;
  padding: 0.5em 1.4em;
  border: none;
}
.main button:hover {
  background-color: #BBBBBB;
  box-shadow: 0.8em 0.8em 1.5em grey;
}
.main .button2 {
  font-size: 20px;
}
.main .button3 {
  font-size: 30px;
}
